
body{
  float:left;
  width:100%;
  text-align:center;
  background-image: url("img_tree.gif"), url("paper.gif");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
}
p {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    display: inherit;

      border-radius: 15px 50px 30px 5px;
      background: #73AD21;
      padding: 20px;
      width: 200px;
      height: 150px;
 
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
    -webkit-transition: width 2s; /* Safari prior 6.1 */
  transition: width 2s;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:rgb(255, 247, 247);
    color: #333;
    text-decoration: none;
    border-bottom:3px solid rgb(0, 127, 40);

}
#menu ul li a:hover {
    background-color:rgba(199, 177, 177, 0.144);
    color: #6D6D6D;
    border-bottom:3px solid rgb(0, 234, 31);
}

img{
    margin: auto;
    padding: 10px;
    text-align: center;
    -webkit-transition: width 4s; /* Safari prior 6.1 */
    transition-delay: 3s;

}

.cab_verde {
    background-color:rgb(0, 127, 40);

}

p::first-line {
  color: #ff0000;
  font-variant: small-caps;
}

div {
    border: 5px solid rgb(255, 255, 255);
    padding: 3px;
    margin: 20px;
    text-align: center;
    -webkit-transition: width 2s; /* Safari prior 6.1 */
  transition: width 2s;
  }

div.div2 {
    border: 5px solid green;
    padding: 3px;
    margin: 20px;
    transition-delay: 2s;
  }

  div.div3{
    text-align: left;
    display:flex;
    flex-wrap: wrap;
    transition-delay: 1s;
}


@media only screen and (max-width: 500px){
    .div2{
        width: 100%;
     
    } 
    .div3{
        width: 100%;
}
}

  * {
    margin: 0;
    padding: 0;
  }
  form{
    border: 5px solid green;
    padding: 3px;
    margin: 20px;

    
  }
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; }
    }